
/*Fondo*/

    /*Contenedor*/
.eco-tips-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}
/*Título principal*/

/*Subtítulo*/
.eco-subtitulo {
    text-align: center;
    color: var(--color-subtitulo);
    font-size: 1.1em;
    margin-top: -10px;
}
/*Tarjeta*/
.eco-tip {
    background-color: var(--verde-fondo-claro);
    border-left: 6px solid var(--verde-mint);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
/*Título consejo*/
.eco-tip h3 {
    margin-top: 0;
    color: var(--gris-oscuro);
}
/*Descripción consejo*/
.eco-tip p {
    color: var(--gris-oscuro);
    margin-bottom: 0;
}
#titulo-eco-tips{
    text-align: center;
}
