{% extends "index.html" %}
{% load static %}
    {% block title %}Consejos ecológicos{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Gpoint/styles/eco_tips.css' %}">
{% endblock %}
{% block content %}
<body>
    <div class="eco-tips-container">
        <h1 class="titulo" id="titulo-eco-tips">🌿 Consejos para un estilo de vida sostenible 🌿</h1>
        <p class="eco-subtitulo">Pequeños cambios pueden hacer una gran diferencia en el planeta.</p>

        <div style="margin-top: 30px;">
            {% for tip in consejos %}
                <div class="eco-tip">
                    <h3 class = "subtitulo">{{ tip.titulo }}</h3>
                    <p>{{ tip.descripcion }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
