{% extends 'index.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Gpoint/styles/home.css' %}">
{% endblock %}

{% block content %}
<main class="contenedor" id="main-home">
    <h1 class="titulo" id="home-title">¿Qué estas buscando?</h1>
    <form action="/search/productos/" method="get" id="form-busqueda" class="contenedor">
    <input type="text" name="busqueda" placeholder="Buscar..." class="input-texto" id="input-busqueda">
    <button class="btn" id="boton-busqueda" type="submit">
        <img src="{% static 'Gpoint/images/search.svg' %}" alt="Buscar" class="svg-icon" id="icono-buscar">
    </button>
    
</main>
<style>
.eco-button {
    text-align: center;
    margin-top: 30px;
}

.eco-button a {
    display: inline-block;
    background-color: #2e7d32;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* relieve / sombra */
    transition: all 0.3s ease;
}

.eco-button a:hover {
    background-color: #1b5e20;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
</style>

<div class="eco-button">
    <a href="{% url 'eco_tips' %}">🌱Tips Ecológicos</a>
</div>
{% endblock %}
